src/main/config/spdx-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://spdx.org/rdf/terms" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://spdx.org/rdf/terms">
       <xs:annotation>
        <xs:documentation>This specification describes the SPDX® language, defined as a dictionary of named properties and classes using W3C's RDF Technology.

SPDX® is a designed to allow the exchange of data about software packages. This information includes general information about the package, licensing information about the package as a whole, a manifest of files contained in the package and licensing information related to the contained files.

Known issues:</xs:documentation>
    </xs:annotation>
    <xs:complexType name="CreationInfo">

        <xs:annotation>
            <xs:documentation>One instance is required for each SPDX file produced. It provides the necessary information for forward and backward compatibility for processing tools.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element name="created" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Identify when the SPDX file was originally created. The date is to be specified according to combined date and time in UTC format as specified in ISO 8601 standard. This field is distinct from the fields in section 8, which involves the addition of information during a subsequent review.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="creator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identify who (or what, in the case of a tool) created the SPDX file. If the SPDX file was created by an individual, indicate the person's name. If the SPDX file was created on behalf of a company or organization, indicate the entity name. If the SPDX file was created using a software tool, indicate the name and version for that tool. If multiple participants or tools were involved, use multiple instances of this field. Person name or organization name may be designated as “anonymous” if appropriate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="licenseListVersion" type="xs:string">
                <xs:annotation>
                    <xs:documentation>An optional field for creators of the SPDX file to provide the version of the SPDX License List used when the SPDX file was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="SinglePointer">
        <xs:complexContent>
            <xs:extension base="Pointer">
                <xs:all>
                    <xs:element name="reference" type="File"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExtractedLicensingInfo">
        <xs:annotation>
            <xs:documentation>An ExtractedLicensingInfo represents a license or licensing notice that was found in the package. Any license text that is recognized as a license may be represented as a License rather than an ExtractedLicensingInfo.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SimpleLicensingInfo">
                <xs:all>
                    <xs:element name="extractedText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Verbatim license or licensing notice text that was discovered.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="License">
        <xs:annotation>
            <xs:documentation>A License represents a copyright license. The SPDX license list website is annotated with these properties (using RDFa) to allow license data published there to be easily processed. The license list is populated in accordance with the License List fields guidelines. These guidelines are not normative and may change over time. SPDX tooling should not rely on values in the license list conforming to the current guidelines.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SimpleLicensingInfo">
                <xs:all>
                    <xs:element minOccurs="0" name="standardLicenseHeaderTemplate" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>License template which describes sections of the license header which can be varied. See License Template section of the specification for format information.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="licenseText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Full text of the license.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="isOsiApproved" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Indicates if the OSI has approved the license.</xs:documentation>
                        </xs:annotation>
                    </xs:element>github.com
16:20
Java XML and JSON Binding: JAXB and Inheritance - Using the xsi:type Attribute
                    
                    <xs:element minOccurs="0" name="isFsfLibre" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="standardLicenseTemplate" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>License template which describes sections of the license which can be varied. See License Template section of the specification for format information.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="standardLicenseHeader" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>License author's preferred text to indicated that a file is covered by the license.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="AnyLicenseInfo">
        <xs:annotation>
            <xs:documentation>The AnyLicenseInfo class includes all resources that represent licensing information.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ExternalRef">
        <xs:annotation>
            <xs:documentation>An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element name="referenceCategory" type="ReferenceCategory">
                <xs:annotation>
                    <xs:documentation>Category for the external reference</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="referenceLocator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The unique string with no spaces necessary to access the package-specific information, metadata, or content within the target location. The format of the locator is subject to constraints defined by the &lt;type&gt;.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="referenceType" type="ReferenceType">
                <xs:annotation>
                    <xs:documentation>Type of the external reference. These are definined in an appendix in the SPDX specification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Annotation">
        <xs:annotation>
            <xs:documentation>An Annotation is a comment on an SpdxItem by an agent.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="annotationDate" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Identify when the comment was made. This is to be specified according to the combined date and time in the UTC format, as specified in the ISO 8601 standard.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string"/>
            <xs:element name="annotator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This field identifies the person, organization or tool that has commented on a file, package, or the entire document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annotationType" type="AnnotationType">
                <xs:annotation>
                    <xs:documentation>Type of the annotation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ByteOffsetPointer">
        <xs:complexContent>
            <xs:extension base="OffsetPointer">
                <xs:all>
                    <xs:element name="offset" type="xs:positiveInteger"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SpdxItem">
        <xs:annotation>
            <xs:documentation>An SpdxItem is a potentially copyrightable work.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SpdxElement">
                <xs:all>
                    <xs:element minOccurs="0" name="licenseComments" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The licenseComments property allows the preparer of the SPDX document to describe why the licensing in spdx:licenseConcluded was chosen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributionText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>This field provides a place for the SPDX data creator to record acknowledgements that may be required to be communicated in some contexts. This is not meant to include theactual complete license text (see licenseConculded and licenseDeclared), and may or may not include copyright notices (see also copyrightText). The SPDX data creator may use this field to record other acknowledgements, such as particular clauses from license texts, which may be necessary or desirable to reproduce.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="copyrightText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The text of copyright declarations recited in the Package or File.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="licenseInfoFromFiles" type="SimpleLicensingInfo">
                        <xs:annotation>
                            <xs:documentation>The licensing information that was discovered directly within the package. There will be an instance of this property for each distinct value of alllicenseInfoInFile properties of all files contained in the package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OrLaterOperator">
        <xs:annotation>
            <xs:documentation>A license with an or later operator indicating this license version or any later version of the license</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AnyLicenseInfo">
                <xs:all>
                    <xs:element name="member" type="AnyLicenseInfo">
                        <xs:annotation>
                            <xs:documentation>A license, or other licensing information, that is a member of the subject license set.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReferenceType">
        <xs:annotation>
            <xs:documentation>Types used to external reference identifiers.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="contextualExample" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Example for use of the external repository identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="externalReferenceSite" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>Website for the maintainers of the external reference site</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="documentation" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>Website containing the documentation related to the repository identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="OffsetPointer">
        <xs:complexContent>
            <xs:extension base="SinglePointer"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConjunctiveLicenseSet">
        <xs:annotation>
            <xs:documentation>A ConjunctiveLicenseSet represents a set of licensing information all of which apply.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AnyLicenseInfo">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="2" name="member" type="AnyLicenseInfo">
                        <xs:annotation>
                            <xs:documentation>A license, or other licensing information, that is a member of the subject license set.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListedLicense">
        <xs:annotation>
            <xs:documentation>A license which is included in the SPDX License List (http://spdx.org/licenses).</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="License">
                <xs:all>
                    <xs:element minOccurs="0" name="isDeprecatedLicenseId" type="xs:boolean"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LineCharPointer">
        <xs:complexContent>
            <xs:extension base="OffsetPointer">
                <xs:all>
                    <xs:element name="lineNumber" type="xs:positiveInteger"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ReferenceCategory">
        <xs:annotation>
            <xs:documentation>Category used for ExternalRef</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="referenceCategory_security"/>
            <xs:enumeration value="referenceCategory_persistentId">
                <xs:annotation>
                    <xs:documentation>These point to objects present in the Software Heritage archive by the means of persistent identifiers that are guaranteed to remain stable (persistent) over time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="referenceCategory_packageManager"/>
            <xs:enumeration value="referenceCategory_other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType abstract="true" name="Project"/>
    <xs:complexType name="PackageVerificationCode">
        <xs:annotation>
            <xs:documentation>A manifest based verification code (the algorithm is defined in section 4.7 of the full specification) of the SPDX Item. This allows consumers of this data and/or database to determine if an SPDX item they have in hand is identical to the SPDX item from which the data was produced. This algorithm works even if the SPDX document is included in the SPDX item.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="packageVerificationCodeValue" type="xs:hexBinary">
                <xs:annotation>
                    <xs:documentation>The actual package verification code as a hex encoded value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="packageVerificationCodeExcludedFile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A file that was excluded when calculating the package verification code. This is usually a file containing SPDX data regarding the package. If a package contains more than one SPDX file all SPDX files must be excluded from the package verification code. If this is not done it would be impossible to correctly calculate the verification codes in both files.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ExternalDocumentRef">
        <xs:annotation>
            <xs:documentation>Information about an external SPDX document reference including the checksum. This allows for verification of the external references.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="externalDocumentId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>externalDocumentId is a string containing letters, numbers, ., - and/or + which uniquely identifies an external document within this document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="checksum" type="Checksum">
                <xs:annotation>
                    <xs:documentation>The checksum property provides a mechanism that can be used to verify that the contents of a File or Package have not changed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spdxDocument" type="SpdxDocument">
                <xs:annotation>
                    <xs:documentation>A propoerty containing an SPDX document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Relationship">
        <xs:annotation>
            <xs:documentation>A Relationship represents a relationship between two SpdxElements.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element name="relationshipType" type="RelationshipType">
                <xs:annotation>
                    <xs:documentation>Describes the type of relationship between two SPDX elements.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="relatedSpdxElement" type="SpdxElement">
                <xs:annotation>
                    <xs:documentation>A related SpdxElement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="SpdxDocument">
        <xs:annotation>
            <xs:documentation>An SpdxDocument is a summary of the contents, provenance, ownership and licensing analysis of a specific software package. This is, effectively, the top level of SPDX information.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SpdxElement">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="reviewed" type="Review">
                        <xs:annotation>
                            <xs:documentation>Reviewed</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="hasExtractedLicensingInfo" type="ExtractedLicensingInfo">
                        <xs:annotation>
                            <xs:documentation>Indicates that a particular ExtractedLicensingInfo was defined in the subject SpdxDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="specVersion" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Provide a reference number that can be used to understand how to parse and interpret the rest of the file. It will enable both future changes to the specification and to support backward compatibility. The version number consists of a major and minor version indicator. The major field will be incremented when incompatible changes between versions are made (one or more sections are created, modified or deleted). The minor field will be incremented when backwards compatible changes are made.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dataLicense" type="AnyLicenseInfo">
                        <xs:annotation>
                            <xs:documentation>Compliance with the SPDX specification includes populating the SPDX fields therein with data related to such fields ("SPDX-Metadata"). The SPDX specification contains numerous fields where an SPDX document creator may provide relevant explanatory text in SPDX-Metadata. Without opining on the lawfulness of "database rights" (in jurisdictions where applicable), such explanatory text is copyrightable subject matter in most Berne Convention countries. By using the SPDX specification, or any portion hereof, you hereby agree that any copyright rights (as determined by your jurisdiction) in any SPDX-Metadata, including without limitation explanatory text, shall be subject to the terms of the Creative Commons CC0 1.0 Universal license. For SPDX-Metadata not containing any copyright rights, you hereby agree and acknowledge that the SPDX-Metadata is provided to you "as-is" and without any representations or warranties of any kind concerning the SPDX-Metadata, express, implied, statutory or otherwise, including without limitation warranties of title, merchantability, fitness for a particular purpose, non-infringement, or the absence of latent or other defects, accuracy, or the presence or absence of errors, whether or not discoverable, all to the greatest extent permissible under applicable law.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="describesPackage" type="Package">
                        <xs:annotation>
                            <xs:documentation>The describesPackage property relates an SpdxDocument to the package which it describes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="externalDocumentRef" type="ExternalDocumentRef">
                        <xs:annotation>
                            <xs:documentation>Identify any external SPDX documents referenced within this SPDX document.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="creationInfo" type="CreationInfo">
                        <xs:annotation>
                            <xs:documentation>The creationInfo property relates an SpdxDocument to a set of information about the creation of the SpdxDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="File">
        <xs:annotation>
            <xs:documentation>A File represents a named sequence of information that is contained in a software package.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SpdxItem">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="artifactOf" type="Project">
                        <xs:annotation>
                            <xs:documentation>Indicates the project in which the SpdxElement originated. Tools must preserve doap:homepage and doap:name properties and the URI (if one is known) of doap:Project resources that are values of this property. All other properties of doap:Projects are not directly supported by SPDX and may be dropped when translating to or from some SPDX formats.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fileType" type="FileType">
                        <xs:annotation>
                            <xs:documentation>The type of the file.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="fileName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name of the file relative to the root of the package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fileContributor" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>This field provides a place for the SPDX file creator to record file contributors. Contributors could include names of copyright holders and/or authors who may not be copyright holders yet contributed to the file content.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="licenseInfoInFile" type="SimpleLicensingInfo">
                        <xs:annotation>
                            <xs:documentation>Licensing information that was discovered directly in the subject file. This is also considered a declared license for the file.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="checksum" type="Checksum">
                        <xs:annotation>
                            <xs:documentation>The checksum property provides a mechanism that can be used to verify that the contents of a File or Package have not changed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="noticeText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>This field provides a place for the SPDX file creator to record potential legal notices found in the file. This may or may not include copyright statements.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fileDependency" type="File"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ChecksumAlgorithm">
        <xs:annotation>
            <xs:documentation>Algorighm for Checksums.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="checksumAlgorithm_md5">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was MD5</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_md6">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was MD6</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_md4">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was MD4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_sha224">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was SHA224</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_md2">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was MD2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_sha1">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was SHA-1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_sha384">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was SHA384</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_sha256">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was SHA256</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="checksumAlgorithm_sha512">
                <xs:annotation>
                    <xs:documentation>Indicates the algorithm used was SHA512</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RelationshipType">
        <xs:annotation>
            <xs:documentation>Type of relationship.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="relationshipType_optionalComponentOf">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A is an optional component of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_providedDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dependencyManifestOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_testcaseOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_prerequisiteFor">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_testOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is used for testing SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_exampleOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is an example of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_variantOf">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_variantOf expresses that an SPDXElement is a variant of the relatedSPDXElement, but it is not clear which came first.  For example, if the content of two Files differs by some edit, but there is no way to tell which came first (no reliable date information), then one File is a variant of the other File.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_ancestorOf">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_ancestorOf expresses that an SPDXElement is an ancestor of (same lineage but pre-dates) the relatedSPDXElement.  For example, an upstream File is an ancestor of a modified downstream File</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_distributionArtifact">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_distributionArtifact expresses that distributing the SPDXElement requires that the relatedSPDXElement also be distributed.  For example, distributing a binary File may require that a source tarball (another File) be made available with the distribuiton. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_patchApplied">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_patchApplied expresses that the SPDXElement is a 'patchfile' that was applied and produced the relatedSPDXElement. For example, a .diff File relates to a specific file where the diff was applied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_documentation">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A provides documentation of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_buildDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a build dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_optionalDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_devToolOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a development dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_packageOf">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A is used as a package as part of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_runtimeDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_buildToolOf">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A is used to to build SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dataFile">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a data file used in SPDXRef-B.  Replaced by relationshipType_dataFileOf</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_generates">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_generates expresses that an SPDXElement generates the relatedSPDXElement.  For example, a source File generates a binary File.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_hasPrerequisite">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_descendantOf">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_descendantOf expresses that an SPDXElement is a descendant of (same lineage but post-dates) the relatedSPDXElement.  For example, an downstream File that was modified is a descendant of an upstream File</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_testDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a test dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_copyOf">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_copyOf expresses that the SPDXElement is an exact copy of the relatedSDPXElement.  For example, a downstream distribution of a binary library which was copied from the upstream package.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_staticLink">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A statically links to SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_fileModified">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_fileModified expresses that the SPDXElement is a file which is a modified version of the relatedSPDXElement file.  For example, a file (the SPDXElement) has been patched to modify the contents of the original file (the SPDXElement).  This relationship is typically used to express the result of a patched package when the actual patchfile is not present.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_other">
                <xs:annotation>
                    <xs:documentation>to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_devDependencyOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a development dependency of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_testToolOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_patchFor">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_patchFor expresses that the SPDXElement is a 'patchfile' that is designed to patch (apply modifications to) the relatedSPDXElement.  For example, relationship from a .diff File to a Package it is designed to patch. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_fileAdded">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_fileAdded expresses that the SPDXElement is a file which has been added to the relatedSPDXElement package.  For example, a package (the relatedSPDXElement) has been patched to remove a file (the SPDXElement).  This relationship is typically used to express the result of a patched package when the actual patchfile is not present.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_generatedFrom">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_generatedFrom expresses that an SPDXElement was generated from the relatedSPDXElement.  For example, a binary File might have been generated from a source File.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dynamicLink">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A dynamically links to SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_metafileOf">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A is a metafile of SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_describedBy">
                <xs:annotation>
                    <xs:documentation>Is to be used an SPDXRef-A is described by SPDXRef-Document.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_amendment">
                <xs:annotation>
                    <xs:documentation>To be used when SPDXRef-A amends the SPDX information in SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_contains">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_contains expresses that an SPDXElement contains the relatedSPDXElement.  For example, a Package contains a File. (relationshipType_contains introduced in SPDX 2.0 deprecates property 'hasFile' from SPDX 1.2)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_fileDeleted">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_fileDeleted expresses that the SPDXElement is a package where the relatedSPDXElement file has been removed.  For example, a package has been patched to remove a file a file (the relatedSPDXElement resulting in the patched package (the SPDXElement).  This relationship is typically used to express the result of a patched package when the actual patchfile is not present.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_expandedFromArchive">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_expandedFromArchive expresses that the SPDXElement is a file which was epanded from a relatedSPDXElement file.  For example, if there is an archive file xyz.tar.gz containing a file foo.c the archive file was expanded in a directory arch/xyz, the file arch/xyz/foo.c would have a relationshipType_expandedFromArchive with the file xyz.tar.gz.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_describes">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_containedBy">
                <xs:annotation>
                    <xs:documentation>A Relationship of relationshipType_containedBy expresses that an SPDXElement is contained by the relatedSPDXElement.  For example, a File contained by a Package. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dataFileOf">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A is a data file used in SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relationshipType_dependsOn">
                <xs:annotation>
                    <xs:documentation>Is to be used when SPDXRef-A depends on SPDXRef-B.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnnotationType">
        <xs:annotation>
            <xs:documentation>This type describes the type of annotation. Annotations are usually created when someone reviews the file, and if this is the case the annotation type should be REVIEW.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="annotationType_review">
                <xs:annotation>
                    <xs:documentation>A Review represents an audit and signoff by an individual, organization or tool on the information for an SpdxElement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="annotationType_other">
                <xs:annotation>
                    <xs:documentation>Type of annotation which does not fit in any of the pre-defined annotation types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LicenseException">
        <xs:annotation>
            <xs:documentation>An exception to a license.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element minOccurs="0" name="example" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Text for examples in describing an SPDX element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="seeAlso" type="xs:anyURI"/>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identify name of this SpdxElement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="licenseExceptionId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Short form license exception identifier in Appendix I.2 of the SPDX specification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string"/>
            <xs:element name="licenseExceptionText" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Full text of the license exception.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType abstract="true" name="Container"/>
    <xs:complexType name="Checksum">
        <xs:annotation>
            <xs:documentation>A Checksum is value that allows the contents of a file to be authenticated. Even small changes to the content of the file will change its checksum. This class allows the results of a variety of checksum and cryptographic message digest algorithms to be represented.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="algorithm" type="ChecksumAlgorithm">
                <xs:annotation>
                    <xs:documentation>Identifies the algorithm used to produce the subject Checksum. Currently, SHA-1 is the only supported algorithm. It is anticipated that other algorithms will be supported at a later time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="checksumValue" type="xs:hexBinary">
                <xs:annotation>
                    <xs:documentation>The checksumValue property provides a lower case hexidecimal encoded digest value produced using a specific algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="SpdxElement">
        <xs:annotation>
            <xs:documentation>An SpdxElement is any thing described in SPDX, either a document or an SpdxItem. SpdxElements can be related to other SpdxElements.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identify name of this SpdxElement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relationship" type="Relationship">
                <xs:annotation>
                    <xs:documentation>Defines a relationship between two SPDX elements. The SPDX element may be a Package, File, or SpdxDocument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="annotation" type="Annotation">
                <xs:annotation>
                    <xs:documentation>Provide additional information about an SpdxElement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SPDXID" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Review">
        <xs:all>
            <xs:element minOccurs="0" name="reviewer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The name and, optionally, contact information of the person who performed the review. Values of this property must conform to the agent and tool syntax.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element name="reviewDate" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>The date and time at which the SpdxDocument was reviewed. This value must be in UTC and have 'Z' as its timezone indicator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="StartEndPointer">
        <xs:complexContent>
            <xs:extension base="CompoundPointer">
                <xs:all>
                    <xs:element name="startPointer" type="SinglePointer"/>
                    <xs:element name="endPointer" type="SinglePointer"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="Pointer"/>
    <xs:complexType name="DisjunctiveLicenseSet">
        <xs:annotation>
            <xs:documentation>A DisjunctiveLicenseSet represents a set of licensing information where only one license applies at a time. This class implies that the recipient gets to choose one of these licenses they would prefer to use.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AnyLicenseInfo">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="2" name="member" type="AnyLicenseInfo">
                        <xs:annotation>
                            <xs:documentation>A license, or other licensing information, that is a member of the subject license set.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="FileType">
        <xs:annotation>
            <xs:documentation>Type of file.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="fileType_audio">
                <xs:annotation>
                    <xs:documentation>The file is associated with an audio file (MIME type of audio/* , ie. .mp3 ); 
IMAGE if the file is assoicated with an picture image file (MIME type of image/*,  ie. .jpg, .gif  )</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_source">
                <xs:annotation>
                    <xs:documentation>Indicates the file is a source code file.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_text">
                <xs:annotation>
                    <xs:documentation>The file is human readable text file (MIME type of text/*).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_video">
                <xs:annotation>
                    <xs:documentation>The file is associated with a video file type (MIME type of video/*).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_spdx">
                <xs:annotation>
                    <xs:documentation>The file is an SPDX document.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_archive">
                <xs:annotation>
                    <xs:documentation>Indicates the file is an archive file.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_binary">
                <xs:annotation>
                    <xs:documentation>Indicates the file is not a text file. spdx:filetype_archive is preferred for archive files even though they are binary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_documentation">
                <xs:annotation>
                    <xs:documentation>The file serves as documentation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_other">
                <xs:annotation>
                    <xs:documentation>Indicates the file is not a source, archive or binary file.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_image">
                <xs:annotation>
                    <xs:documentation>The file is assoicated with an picture image file (MIME type of image/*,  ie. .jpg, .gif  ).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fileType_application">
                <xs:annotation>
                    <xs:documentation> The file is associated with a specific application type (MIME type of application/* )</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WithExceptionOperator">
        <xs:annotation>
            <xs:documentation>Sometimes a set of license terms apply except under special circumstances. In this case, use the binary "WITH" operator to construct a new license expression to represent the special exception situation. A valid &lt;license-expression&gt; is where the left operand is a &lt;simple-expression&gt; value and the right operand is a &lt;license-exception-id&gt; that represents the special exception terms.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AnyLicenseInfo">
                <xs:all>
                    <xs:element name="member" type="AnyLicenseInfo">
                        <xs:annotation>
                            <xs:documentation>A license, or other licensing information, that is a member of the subject license set.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="licenseException" type="LicenseException">
                        <xs:annotation>
                            <xs:documentation>An exception to a license.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SimpleLicensingInfo">
        <xs:annotation>
            <xs:documentation>The SimpleLicenseInfo class includes all resources that represent simple, atomic, licensing information.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AnyLicenseInfo">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="seeAlso" type="xs:anyURI"/>
                    <xs:element name="name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Identify name of this SpdxElement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="comment" type="xs:string"/>
                    <xs:element name="licenseId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A human readable short form license identifier for a license. The license ID is iether on the standard license oist or the form "LicenseRef-"[idString] where [idString] is a unique string containing letters, numbers, ".", "-" or "+".</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Snippet">
        <xs:annotation>
            <xs:documentation>The set of bytes in a file. The name of the snippet is the name of the file appended with the byte range in parenthesis (ie: "./file/name(2145:5532)")</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SpdxItem">
                <xs:all>
                    <xs:element maxOccurs="unbounded" name="range" type="CompoundPointer">
                        <xs:annotation>
                            <xs:documentation>This field defines the byte range in the original host file (in X.2) that the snippet information applies to</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="snippetFromFile" type="File">
                        <xs:annotation>
                            <xs:documentation>File containing the SPDX element (e.g. the file contaning a snippet).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="licenseInfoInSnippet" type="SimpleLicensingInfo">
                        <xs:annotation>
                            <xs:documentation>Licensing information that was discovered directly in the subject snippet. This is also considered a declared license for the snippet.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CompoundPointer">
        <xs:complexContent>
            <xs:extension base="Pointer"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Package">
        <xs:annotation>
            <xs:documentation>A Package represents a collection of software files that are delivered as a single functional component.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SpdxItem">
                <xs:all>
                    <xs:element minOccurs="0" name="homepage" type="xs:anyURI"/>
                    <xs:element minOccurs="0" name="supplier" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name and, optionally, contact information of the person or organization who was the immediate supplier of this package to the recipient. The supplier may be different than originator when the software has been repackaged. Values of this property must conform to the agent and tool syntax.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="packageVerificationCode" type="PackageVerificationCode">
                        <xs:annotation>
                            <xs:documentation>A manifest based verification code (the algorithm is defined in section 3.9.4 of the full specification) of the package. This allows consumers of this data and/or database to determine if a package they have in hand is identical to the package from which the data was produced. This algorithm works even if the SPDX document is included in the package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="checksum" type="Checksum">
                        <xs:annotation>
                            <xs:documentation>The checksum property provides a mechanism that can be used to verify that the contents of a File or Package have not changed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="downloadLocation" type="xs:anyURI">
                        <xs:annotation>
                            <xs:documentation>The URI at which this package is available for download. Private (i.e., not publicly reachable) URIs are acceptable as values of this property. The values http://spdx.org/rdf/terms#none and http://spdx.org/rdf/terms#noassertion may be used to specify that the package is not downloadable or that no attempt was made to determine its download location, respectively.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="filesAnalyzed" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Indicates whether the file content of this package has been available for or subjected to analysis when creating the SPDX document. If false indicates packages that represent metadata or URI references to a project, product, artifact, distribution or a component. If set to false, the package must not contain any files.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="externalRef" type="ExternalRef">
                        <xs:annotation>
                            <xs:documentation>An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="hasFile" type="File">
                        <xs:annotation>
                            <xs:documentation>Indicates that a particular file belongs to a package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="summary" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Provides a short description of the package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="originator" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name and, optionally, contact information of the person or organization that originally created the package. Values of this property must conform to the agent and tool syntax.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="packageFileName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The base name of the package file name. For example, zlib-1.2.5.tar.gz.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="versionInfo" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Provides an indication of the version of the package that is described by this SpdxDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="sourceInfo" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Allows the producer(s) of the SPDX document to describe how the package was acquired and/or changed from the original source.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="description" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Provides a detailed description of the package.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Document" type="SpdxDocument">
        <xs:annotation>
            <xs:documentation>Top level element for the SPDX document</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>